<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Tienda</title>
        <meta name="description" content="Tienda">
        <link rel="stylesheet" href="style.css" type="text/css" media ="screen,projection">
        <link rel="stylesheet" href="smartphones.css" type="text/css" media ="only screen and (max-device-width:480px)">
         <link rel='icon' href='favicon.ico' type='image/x-icon' />
    </head>
    
    <body>
        <div>
        <center>En esta sección podrá comprar todo lo necesario para su casa domótica.</center>
        </div>
        <br>
        <% var suma = 0; var sumaKit = 0; var sumaExtra = 0; var sumaJardin = 0;
                            var PVPKit = 30; var PVPExtra = 10; var PVPJardin = 50;
                            var nKit = 0; var nExtra = 0; var nJardin = 0;
       %>
       <% function changeKit(x){
                nKit = x.options[x.selectedIndex];
                

       }%>
        <center>
        <form name="pedidoForm" id="pedido" method="post">
        <table class="tablaCompra">
        <tr>
            <td align=center width="180px"><u>Producto</u></td>
            <td align=center width="100px"><u>P.V.P</u></td>
            <td align=center width="100px"><u>Cantidad</u></td>
            <td align=center width="100px"><u>Precio</u></td>
        </tr>
        <tr>
            <td align=center width="100px">Kit básico</td>
            <td align=center width="100px"> <%=PVPKit%> € </td>
            <td align=center width="100px">
                <select id="selectKit" onChange="changeKit(this);">
                    <option value="0" selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </td>
            <% sumaKit = PVPKit*nKit%>
            <td align=center width="100px"><%=sumaKit%> €</td>
        </tr>
        <tr>
            <td align=center width="100px">Habitación Extra</td>
            <td align=center width="100px"> <%=PVPExtra%> € </td>
            <td align=center width="100px">
                <select id="selectExtra" name="sExtra" onChange="changeExtra(this);">
                    <option value="0" selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </td>
            <% sumaExtra = PVPKit*nExtra%>
            <td align=center width="100px"><%=sumaExtra%> €</td>
        </tr>
        <tr>
            <td align=center width="100px">Kit Jardín</td>
            <td align=center width="100px"> <%=PVPJardin%> € </td>
            <td align=center width="100px">
                <select id="selectJardin" onChange="changeJardin(this)">
                    <option value="0" selected>0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </td>
            <% sumaJardin = PVPKit*nJardin%>
            <td align=center width="100px"><%=sumaJardin%> €</td>
        </tr>
        <% var suma = sumaKit + sumaExtra + sumaJardin; %>
        <tr>
            <td align=center></td>
            <td align=center></td>
            <td align=center>Total</td>
            <td align=center><%=suma%> €</td>
        </tr>

        </table>
        </center>
        <br>
        <button value="Pagar"><a href="/pagar">Pagar</a></button>

    </form>


    </body>
     

    </html>